{% load cart_count_tag %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/" >
        <strong class="blue-text">ЫЫЫЫЫ</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/shop/catalog">Каталог
              <span class="sr-only">(current)</span>
            </a>
          </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                        <h3>Привет, админ!</h3>
                </li>
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/shop/create_tovar" >Добавить товар</a>
                </li>

                {% else %}
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/users/about" >О ферм.хозяйстве</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/users/contact" >Связаться с нами</a>
                </li>
                {% endif %}


        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/order">
                        <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                                <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                        </a>
                </li>

                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/custom_logout" >Выйти!</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/users/profile" >Профиль</a>
                </li>
                {% else %}
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/register" >Зарегистрироваться!</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link waves-effect" href="/accounts/login" >Войти!</a>
                </li>
                {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->