{% extends 'base_layout.html' %}
{% block content %}
Ваша корзина:

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название товара</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Всего</th>
            </tr>
        </thead>
        <tbody>
        {% for order in object.tovars.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order.item.name }}</td>
                <td>{{ order.item.price }}</td>
                <td>{{ order.quantity }}</td>



            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}